-- 	HOMEWORK 03 SQL 				--
	
-- Fazer um RIGHT OUTER JOIN entre tabelas:
--• Pessoa e Contato
--• Pessoa, PESSOA_X_PESSOA_ENDERECO e Endereco_Pessoa
--• todas as tabelas (começando por pessoa)

SELECT * FROM PESSOA p 
	RIGHT OUTER JOIN CONTATO c 
	ON (p.ID_PESSOA = c.ID_PESSOA)


SELECT * FROM PESSOA p 
	RIGHT OUTER JOIN PESSOA_X_PESSOA_ENDERECO p2 ON (p.ID_PESSOA = p2.ID_PESSOA)
	RIGHT OUTER JOIN ENDERECO_PESSOA ep ON (p2.ID_ENDERECO = ep.ID_ENDERECO)
	
SELECT * FROM PESSOA p 	
	RIGHT OUTER JOIN CONTATO c ON (p.ID_PESSOA = c.ID_CONTATO)
	RIGHT OUTER JOIN PESSOA_X_PESSOA_ENDERECO p2 ON (c.ID_PESSOA = p2.ID_PESSOA)
	RIGHT OUTER JOIN ENDERECO_PESSOA e ON (p2.ID_ENDERECO = e.ID_ENDERECO)
	
	
	
-- Fazer um OUTER FULL JOIN entre tabelas:
-- • Pessoa e Contato
-- • Pessoa, PESSOA_X_PESSOA_ENDERECO e Endereco_Pessoa
-- • todas as tabelas (começando por pessoa)

SELECT * FROM PESSOA p 
	FULL OUTER JOIN CONTATO c 
	ON (p.ID_PESSOA = c.ID_PESSOA)


SELECT * FROM PESSOA p 
	FULL OUTER JOIN PESSOA_X_PESSOA_ENDERECO p2 ON (p.ID_PESSOA = p2.ID_PESSOA)
	FULL OUTER JOIN ENDERECO_PESSOA ep ON (p2.ID_ENDERECO = ep.ID_ENDERECO)
	
SELECT * FROM PESSOA p 	
	FULL OUTER JOIN CONTATO c ON (p.ID_PESSOA = c.ID_CONTATO)
	FULL OUTER JOIN PESSOA_X_PESSOA_ENDERECO p2 ON (c.ID_PESSOA = p2.ID_PESSOA)
	FULL OUTER JOIN ENDERECO_PESSOA e ON (p2.ID_ENDERECO = e.ID_ENDERECO)

-- Utilizando o exists, selecione as pessoas que tem endereço
-- Selecione nome, id da tabela pessoa e uma com logradouro e id da tabela endereço	
	
	
  SELECT * FROM PESSOA p
  WHERE EXISTS (SELECT *  FROM PESSOA_X_PESSOA_ENDERECO pxpe 
  	 WHERE p.ID_PESSOA = pxpe.ID_PESSOA 	
  ) 
  
 SELECT p.NOME, p.ID_PESSOA, ep.LOGRADOURO, ep.ID_ENDERECO  FROM PESSOA p 
  	FULL OUTER JOIN PESSOA_X_PESSOA_ENDERECO pxpe ON (p.ID_PESSOA = pxpe.ID_PESSOA)
  	FULL OUTER JOIN ENDERECO_PESSOA ep ON (pxpe.ID_ENDERECO = ep.ID_ENDERECO)